In [1]:
a = "Hello, world"

In [2]:
print(a)

Hello, world

In [3]:
a.upper()

'HELLO, WORLD'

In [ ]:
print(a.upper())

In [ ]:
3+5

In [4]:
x = 5
y = 10

In [5]:
if x != y:
    print("True")

True

In [ ]:
print("Hello, World!")

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [6]:
x = 4 # x is of type int
y = "Sally" # x is now of type str

print(type(x),type(y))

<class 'int'> <class 'str'>

In [7]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [8]:
x = "Python is "
y = "awesome"
z =  x + y

print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
print(str(x) + y)

# Title - Python Numbers
## major headings - Heading 2
### subheadings - Heading 3
#### 4th level subheadings - Heading 4
##### Heading 5
###### Heading 6
 Body 7

## There are three numeric types in Python:

•int 

*•float*

•complex

In [9]:
x = 1   # int
y = 2.8  # float
z = 1j   # complex

In [10]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
x = 1
y = 35656222554887711
z =-3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [13]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [14]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Python Casting

Integer:

In [1]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [2]:
print("x : " + x + "y : " + y + "z :"+ z)

TypeError: must be str, not int

In [3]:
print("x : " + str(x) + ", y : " + str(y) + ", z :"+ str(z))

x : 1, y : 2, z :3

In [ ]:
y = int(2.8)
y

Floats:

In [ ]:
x = float(1)     # x will be 1.0
 y = float(2.8)   # y will be 2.8
 z = float("3")   # z will be 3.0
 w = float("4.2") # w will be 4.2

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
print("x : " + str(x) + ", y : " + str(y) + ", z :"+ str(z))

In [ ]:
print(x,y)

In [ ]:
print(x);print(y)

## Python Strings

In [15]:
a = "Hello, World!"
print(a[1])

e

In [16]:
b = "Hello, World!"
print(b[2:5])

llo

#### The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip())

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = "Hello, World!"
print(a.upper())

In [18]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [6]:
a = "Hello, World!"
print(a.split(","))

b = a.split(",")

['Hello', ' World!']

' World!'

In [7]:
b[0]

'Hello'

In [10]:
type(b)

list

## Python Collections (Arrays)

### There are four collection data types in the Python programming language:

•List is a collection which is __ordered__ and __changeable__. Allows duplicate members.

•Tuple is a collection which is __ordered__ and __unchangeable__. Allows duplicate members.

•Set is a collection which is __unordered__ and __unindexed__. __No duplicate__ members.

•Dictionary is a collection which is __unordered__, __changeable__ and __indexed__. __No duplicate__ members.

### List:

In [11]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
print(thislist[1])

In [20]:
len(thislist[0])+len(thislist[1])

11

In [ ]:
print(thislist[0])

Change the second item:

In [ ]:
thislist[1] = "blackcurrant"
print(thislist)

In [23]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x.upper())

APPLE
BANANA
CHERRY

In [30]:
thislist = ["apple", "banana", "cherry"]
x1 = "banana"
if x1 in thislist:
 print("Yes present in the fruits list")
else:
 print("Not present")

Yes present in the fruits list

In [32]:
print(len(thislist))

3

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")

print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The pop() method removes the specified index, (or the last item if index is not specified):

In [36]:
thislist = ["apple", "banana", "cherry"]

#thislist.pop()
thislist.pop(1)

print(thislist)

['apple', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [38]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

The clear() method empties the list:

In [45]:
thislist = ["apple", "banana", "cherry"]
x2 = thislist.copy()

In [46]:
print(x2)

['apple', 'banana', 'cherry']

In [40]:
thislist.append("Mango")

In [42]:
print(thislist)

['Mango']

#### The list() Constructor

In [43]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']


__Method__ __Description__

    - append()  Adds an element atthe end of the list 
    - clear()   Removes all theelements from the list 
    - copy()    Returns a copy of thelist 
    - count()   Returns the number ofelements with the specified value 
    - extend()  Add the elements of alist (or any iterable), to the end of the current list 
    - index()   Returns the index ofthe first element with the specified value 
    - insert()  Adds an element atthe specified position 
    - pop()     Removes the element at thespecified position 
    - remove()  Removes theitem with the specified value 
    - reverse() Reverses the orderof the list 
    - sort()    Sorts the list

### Tuple

#### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [47]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [48]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

#### Loop Through a Tuple

In [50]:
puple = ("apple", "banana", "cherry")
for x in puple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [52]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

#### The tuple() Constructor

In [53]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

### Set

In [58]:
thisset = {"apple", "banana", "cherry"}

In [61]:
print(thisset)

{'banana', 'cherry', 'Banana', 'apple'}

__Note:__ Sets are unordered, so the items will appear in a random order.

In [63]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x.upper())

BANANA
CHERRY
APPLE

In [64]:
thisset = {"apple", "banana", "cherry"}

print("banana"in thisset)

True

In [66]:
thisset = {"apple", "banana", "cherry"}

thisset.add("apple")

print(thisset)

{'banana', 'cherry', 'apple'}

In [71]:
thisset = {"apple", "banana", "cherry"}
list1 = ["orange","mango", "grapes"]
thisset.update(list1)

print(thisset)

{'grapes', 'orange', 'banana', 'mango', 'cherry', 'apple'}

In [72]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [73]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [74]:
thisset.remove("banana")

KeyError: 'banana'

In [75]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [76]:
thisset.discard("banana")

In [84]:
thisset = {"apple", "cherry", "mango", "coconut", "p", "banana"}

#Remove the last item by using the pop() method:

x =thisset.pop()

print(x)

print(thisset)

banana
{'coconut', 'cherry', 'mango', 'p', 'apple'}

In [85]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [86]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#### The set() Constructor

In [87]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

#### Set Methods

Python has a set of built-in methods that you can use on sets.


#### Method Description

       - add()        Adds an element to theset 
       - clear()      Removes all the elements from the set 
       - copy()       Returns a copy of the set 
       - difference() Returns a set containing the difference between two or more sets 
       - difference_update() Removes the items in this set that are also included in another, specified set 
       - discard()    Remove the specified item 
       - intersection() Returns a set,that is the intersection of two other sets 
       - intersection_update() Removes the items in this set that are not present in other, specified set(s) 
       - isdisjoint() Returns whether two sets have a intersection or not 
       - issubset()   Returns whether another set contains this set or not 
       - issuperset() Returns whether this set contains another set or not 
       - pop()        Removes an element from theset 
       - remove()     Removes the specified element 
       - symmetric_difference() Returns a set with the symmetric differences of two sets 
       - symmetric_difference_update() inserts the symmetric differences from this set and another 
       - union()      Return a set containing the union of sets 
       - update()     Update the set with the union of this set and others

In [88]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964,
   "country": "India"
 }

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'country': 'India'}

In [89]:
x = thisdict["model"]

In [90]:
x

'Mustang'

In [91]:
x1 = thisdict.get("country")

In [92]:
x1

'India'

In [93]:
thisdict["year"] = 2018

In [94]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'country': 'India'}

In [95]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018
India

In [96]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018
India

In [104]:
for i, j in thisdict.items():
  print(i,len(str(j)))

brand 4
model 7
year 4
country 5
color 3

In [105]:
print(len(thisdict))

5

In [99]:
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'country': 'India', 'color': 'red'}

In [ ]:
thisdict.popitem()
print(thisdict)

In [ ]:
del thisdict["model"]
print(thisdict)

In [106]:
thisdict1 = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
del thisdict1
print(thisdict1)

NameError: name 'thisdict1' is not defined

In [107]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.clear()
print(thisdict)

{}

### The dict() Constructor

In [108]:
thisdict1 = dict(brand="Ford", model="Mustang", year=1964)
 # note that keywords are not string literals
 # note the use of equals rather than colon for the assignment
print(thisdict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.


#### Method    Description

    - clear()    Removes all the elements from the dictionary 
    - copy()     Returns a copy of the dictionary 
    - fromkeys() Returns a dictionary with the specified keys and values 
    - get()      Returns the value of the specified key 
    - items()    Returns a list containing the a tuple for each key value pair 
    - keys()     Returns a list contianing the dictionary's keys 
    - pop()      Removes the element with the specified key 
    - popitem()  Removes the lastinserted key-value pair 
    - setdefault() Returns the value of the specified key. If the key does not exist: insert the key, with the specified value 
    - update()   Updates the dictionary with the specified key-value pairs 
    - values()   Returns a list of all the values in the dictionary

### Python Conditions and If statements

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else:
 print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
 print("b is greater than a")
else:
 print("b is not greater than a")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
print("A") if a > b else print("B")

In [ ]:
# Change the value and see the output
a = 200
b = 201
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
if a > b or a > c:
 print("At least one of the conditions are True")

In [ ]:
c = 40
if a > b or a > c:
 print("At least one of the conditions are True")

### Python Loops

Python has two primitive loop commands:
•while loops
•for loops

#### While Loop

In [ ]:
i = 1
while i < 6:
   print(i)
   i += 1

In [ ]:
# Exit the loop when i is 3:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

#### Python For Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x =="banana":
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x =="banana":
    break
  print(x)

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x =="banana":
        continue
    print(x)

apple
cherry

In [ ]:
for x in range(6):
 print(x)

In [ ]:
for x in range(2, 6):
 print(x)

In [ ]:
for x in range(2, 30, 3):
 print(x)

#### Else in For Loop

In [ ]:
for x in range(6):
 print(x)
else:
 print("Finally finished!")

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
def tri_recursion(k):
 if(k>0):
   result = k+tri_recursion(k-1)
   print(result)
 else:
   result = 0
 return result

print("\n\nRecursion Example Results")
tri_recursion(6)

### Creating a Function

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(country = "Norway"):
    print("I am from " +country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

### Python Lambda

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6,2))

In [ ]:
def myfunc(n):
    return lambda a : a * n

In [ ]:
mydoubler = myfunc(2)

In [ ]:
print(mydoubler(11))

In [ ]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

In [ ]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))